*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(205, 100%, 96%);;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
h1{
    color: #c59d5f;;
    text-align: center;
    font-family: "Great Vibes", cursive;
}
.questions{
    max-width: 800px;
}

.questions .contentbox{
    position: relative;
    margin: 30px 20px;
    /* background-color: rgb(232, 166, 232); */
}

.questions .contentbox .label{
    position: relative;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    color: black;
    font-family: "Roboto", sans-serif;;
}

.questions .contentbox .label::before{
    content: "+";
    font-weight: bolder;
    position: absolute; 
    right: 20px;
    /* font-size: 1.5rem; */


}

.questions .contentbox .content{
    position: relative;
    background-color: rgba(196, 243, 250, 0.912);
    height: 0; 
    overflow: hidden;
}

.questions .contentbox.active .content{
    height: auto;
    padding: 10px;
}

.questions .contentbox.active .label::before{
    content: "-";
    font-weight: bolder;
    position: absolute; 
    /* right: 20px; */
}